<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-credit-card"></i> 储值卡管理 <span>>储值卡消费</span></h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-blueDark" id="tblEnt" data-widget-custombutton="true">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon"> <i class="fa check-square-o"></i> </span>
        <h2>储值卡消费</h2>
    </header>

    <!-- widget div-->
    <div>
    <!-- end widget edit box -->

    <!-- widget content -->
        <div class="modal-body no-padding">
            <form id="cUseForm" class="smart-form">
                <fieldset>
                    <section>
                        <div class="row">
                            <label class="label col col-1">卡号</label>
                            <div class="col col-8">
                                <label class="input">
                                    <input type="text" name="cardNo" id="cardNo" placeholder="请输入卡号">
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-1">金额</label>
                            <div class="col col-8">
                                <label class="input">
                                    <input type="text" name="cardMoney" id="cardMoney" placeholder="请输入金额">
                                </label>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <footer>
                    <button type="button" class="btn btn-primary" id="btnUse">
                        消费
                    </button>
                </footer>
            </form>
        </div>
    <!-- end widget content -->

    </div>
    <!-- end widget div -->

    </div>
    </div>
</div>

<script type="text/javascript">
    $("#cardNo").focus();

    /////////////////////////////INIT EVENT//////////////////////////////
    //create click event
    $("#btnUse").unbind("click").click(function(e){
        e.preventDefault();
        if(""===$("#cardNo").val().trim()){
            alert("卡号不能为空");
            return false;
        }
        if(""===$("#cardMoney").val().trim()||isNaN($("#cardMoney").val().trim())){
            alert("请输入正确的金额");
            return false;
        }
        var params = {};
        params.cardNo = $("#cardNo").val().trim()
        params.cardMoney = $("#cardMoney").val().trim();

        $("#ldModal").modal({
            backdrop:false,
            keyboard:false
        });
        $.ajax({
            type: "POST",
            url: "/card/use",
            cache:false,
            data:params
        }).done(function(data, textStatus){
                    if(data.error==0){
                        showMessage("success","消费扣款成功了！");
                    }else{
                        showMessage("danger","消费扣款失败！"+data.errorMsg);
                    }
                    $("#ldModal").modal("hide");
                }).fail(function(){
                    $("#ldModal").modal("hide");
                    alert("网络异常，请重试！");
                });
    });
</script>