<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-shopping-cart"></i> 订单管理 <span>>订单录入</span></h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" data-widget-custombutton="true">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
            <header>
                <span class="widget-icon"> <i class="fa fa-shopping-cart"></i> </span>
                <h2>订单录入</h2>
            </header>


            <!-- widget div-->
            <div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body">
                    <div class="row">
                        <form id="oiForm" class="smart-form">
                            <fieldset>
                                <section>
                                    <div class="row">
                                        <label class="label col col-1">产品名称</label>
                                        <div class="col col-6">
                                            <select style="width:100%;"  name="oiPName" id="oiPName" placeholder="必填">
                                                <optgroup label="产品列表" id="selectPdts">

                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </section>
                            </fieldset>
                        </form>
                    </div>
                    <div class="row" id="exTime">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2>产品有效期：<span  id="showDate"></span></h2>
                        </div>
                    </div>
                    <div class="row" id="oi0">
                        <div id="priceCal"></div>
                    </div>
                </div>
                <div class="row" id="oi3">
                    <form id="oi3Form" class="smart-form">
                        <hidden id="oi3PriceId"></hidden>
                        <hidden id="oi3SP"></hidden>
                        <fieldset>
                            <section>
                                <div class="row">
                                    <label class="label col col-1">产品单价</label>
                                    <label class="label col col-2" id="oi3Price"></label>
                                </div>
                            </section>
                            <section>
                                <div class="row">
                                    <label class="label col col-1">数量</label>
                                    <div class="col col-2">
                                        <input class="form-control spinner-both ui-spinner" style="height: auto !important" id="oi3Qty" name="oi3Qty" value = "1" type="number" disabled>
                                    </div>
                                </div>
                            </section>

                            <section>
                                <div class="row">
                                    <label class="label col col-1">使用人</label>
                                    <div class="col col-2"><label class="input"><input type="text" name="oi3CusName" placeholder='使用人姓名'></label></div>
                                    </div>
                            </section>

                            <section>
                                <div class="row">
                                    <label class="label col col-1">手机号</label>
                                    <div class="col col-2"><label class="input"><input type="text" name="oi3CusPhone" placeholder='使用人手机号'></label></div>
                                </div>
                            </section>

                            <section>
                                <div class="row">
                                    <label class="label col col-1">备注</label>
                                    <div class="col col-8">
                                        <label class="textarea textarea-expandable">
                                            <textarea rows="6" class="custom-scroll" name="oi3Remark" id="oi3Remark"></textarea>
                                        </label>
                                    </div>
                                </div>
                            </section>

                            <section>
                                <div class="row">
                                    <label class="label col col-1">总计</label>
                                    <h2><label class="label col col-2" id="oi3Total"></label></h2>
                                </div>
                            </section>
                            <section>
                                <div class="row">
                                <label class="label col col-12">
                                    <button type="button" class="btn btn-primary btn-lg" id="btn3Order">
                                        预订
                                    </button>
                                </label>
                                </div>
                            </section>
                    </form>
                </div>
                <footer>
                    <dl id="pdtDetail">
                        <dt><h3>产品简介</h3></dt>
                        <dd id="pIntr"></dd>

                        <dt><h3>产品详情</h3></dt>
                        <dd id="pCont"></dd>
                    </dl>
                </footer>
                <!-- end widget content -->
            </div>
            <!-- end widget div -->
        </div>
    </div>
</div>
<script src="js/page/order_input.js"/>
<script type="text/javascript">
//init show and hide
$("#pdtDetail").hide();
$("#exTime").hide();
$("#oi0").hide();
$("#oi3").hide();
//////////////////////////////////LOADING///////////////////////////////////
$("#ldModal").modal({
    backdrop:false,
    keyboard:false
});
///init var
var selectedPdt = "";
var selectPdtEnt = "";
var selectPdtType = "";
var selectSD = 0;
var selectED = 0;

//get products
$.ajax({
    type: "GET",
    url: "/order/getPdts",
    cache:false
}).done(function(data, textStatus){
            var h = "";
            for(var e in data.data){
                h +="<option value="+data.data[e]._id+" data-std="+data.data[e].startDate+" data-edd="+data.data[e].endDate+" data-pid="+data.data[e].ent+" data-type="+data.data[e].productType+">"+data.data[e].name+"</option>";
            }
            $("#selectPdts").html(h);

            $("#ldModal").modal("hide");
        }).fail(function(){
            $("#ldModal").modal("hide");
            alert("网络异常，请重试！");
        });

///////////////////////////////////////////INIT PULGIN////////////////////////////////////////////
$("#oiPName").select2({
    placeholder: "请选择产品",
    allowClear: true,
    formatSelection: formatSelect2
});

//modal init
$("#oiQty").spinner({
    numberFormat: "n",
    stop : function(event,ui){
//        htmlCustomers($("#oiQty").val());
        $("#oiTotal").html($("#oiSP").val()*$("#oiQty").val());
    }
});

//page form init
$("#oi3Qty").spinner({
    numberFormat: "n",
    stop : function(event,ui){
//        htmlCustomers($("#oiQty").val());
        $("#oi3Total").html($("#oi3SP").val()*$("#oi3Qty").val());
    }
});

////////////////////////////////////INIT EVENT////////////////////////////////////////
//modal submit order
$("#btnOrder").unbind("click").click(function(e){
    e.preventDefault();
    if(""===selectedPdt.trim()||""===selectPdtEnt.trim()||""===$("#oiPriceId").val()||""===selectSD.trim()){
        alert("所需产品信息失效，请重新选择！");
        return false;
    }
//    if($("input[name=oiCusName]").length!=$("input[name=oiCusPhone]").length||$("input[name=oiCusPhone]").length!=parseInt($("#oiQty").val())){
//        alert("预订的产品数量需要和使用人数一致！");
//        return false;
//    }
    var cusNames = [];
    var isNull = false;
    $("input[name=oiCusName]").each(function(){
        if(""===$(this).val().trim()){
            isNull = true;
            return false;
        }else{
            cusNames.push($(this).val().trim());
        }
    });
    if(isNull){
        alert("请要输入使用人姓名！");
        return false;
    }
    var cusPhones = [];
    $("input[name=oiCusPhone]").each(function(){
        if(""===$(this).val().trim()){
            isNull = true;
            return false;
        }else{
            if(isNaN($(this).val().trim())||$(this).val().trim().length<11){
                isNull = true;
                return false;
            }
            cusPhones.push($(this).val().trim());
        }
    });
    if(isNull){
        alert("请输入使用人正确的手机号！");
        return false;
    }
    var params = {};
    params.type = 0;
    params.startDate = $("#oiDate").text();
    params.quantity = parseInt($("#oiQty").val());
    params.remark = $("#oiRemark").val();
    params.product = selectedPdt.trim();
    params.ent  = selectPdtEnt.trim();
    params.liveName = cusNames;
    params.contactPhone = cusPhones;

    params.price = $("#oiPriceId").val();
    $("#btnOrder").button("loading");
    $.ajax({
        type: "POST",
        url: "/order/add",
        cache:false,
        data:params
    }).done(function(data, textStatus){
                if(data.error!=0){
                    showMessage("error","预订失败！"+data.errorMsg);
                }else{
                    $("#priceCal").fullCalendar('refetchEvents');
                    showMessage("success","预订成功！"+data.errorMsg);
                }
                $("#btnOrder").button("reset");
                $("#oiModal").modal('hide');
            }).fail(function(){
                $("#btnOrder").button("reset");
                alert("网络异常，请重试！");
            });
});

//form submit order for type 3
$("#btn3Order").unbind("click").click(function(e){
    e.preventDefault();
    if(""===selectedPdt.trim()||""===selectPdtEnt.trim()||""===$("#oi3PriceId").val()){
        alert("所需产品信息失效，请重新选择！");
        return false;
    }
    var cusNames = [];
    var isNull = false;
    $("input[name=oi3CusName]").each(function(){
        if(""===$(this).val().trim()){
            isNull = true;
            return false;
        }else{
            cusNames.push($(this).val().trim());
        }
    });
    if(isNull){
        alert("请要输入使用人姓名！");
        return false;
    }
    var cusPhones = [];
    $("input[name=oi3CusPhone]").each(function(){
        if(""===$(this).val().trim()){
            isNull = true;
            return false;
        }else{
            if(isNaN($(this).val().trim())||$(this).val().trim().length<11){
                isNull = true;
                return false;
            }
            cusPhones.push($(this).val().trim());
        }
    });
    if(isNull){
        alert("请输入使用人正确的手机号！");
        return false;
    }
    var params = {};
    params.type = 3;
    params.quantity = parseInt($("#oi3Qty").val());
    params.remark = $("#oi3Remark").val();
    params.product = selectedPdt.trim();
    params.ent  = selectPdtEnt.trim();
    params.liveName = cusNames;
    params.contactPhone = cusPhones;
    params.price = $("#oi3PriceId").val();
    $("#ldModal").modal({
        backdrop:false,
        keyboard:false
    });
    $.ajax({
        type: "POST",
        url: "/order/add",
        cache:false,
        data:params
    }).done(function(data, textStatus){
        if(data.error!=0){
            showMessage("error","预订失败！"+data.errorMsg);
        }else{
            initType3Pdt();
            showMessage("success","预订成功！"+data.errorMsg);
        }
        $("#ldModal").modal("hide");
    }).fail(function(){
        $("#ldModal").modal("hide");
        alert("网络异常，请重试！");
    });
});
</script>