<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-shopping-cart"></i> 订单管理 <span>>订单录入</span></h1>
    </div>
</div>
<div class="row">
    <form id="oiForm" class="smart-form">
        <fieldset>
            <section>
                <div class="row">
                    <label class="label col col-2">产品名称</label>
                    <div class="col col-8">
                        <select style="width:100%;"  name="oiPName" id="oiPName" placeholder="必填">
                            <optgroup label="产品列表" id="selectPdts">

                            </optgroup>
                        </select>
                    </div>
                </div>
            </section>
        </fieldset>
    </form>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>产品有效期：<span  id="showDate"></span></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" data-widget-custombutton="true">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
            <header>
                <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                <h2>产品价格列表</h2>
            </header>

            <!-- widget div-->
            <div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body">
                    <div id="priceCal"></div>
                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->
            <footer>
                <dl id="pdtDetail">
                    <dt><h3>产品简介</h3></dt>
                    <dd id="pIntr"></dd>

                    <dt><h3>产品详情</h3></dt>
                    <dd id="pCont"></dd>
                </dl>
            </footer>
        </div>
    </div>
</div>

<script type="text/javascript">
//load page
$("#pdtDetail").hide();
var selectedPdt = "";
var selectPdtEnt = "";
var selectSD = 0;
var selectED = 0;
$("#ldModal").modal({
    backdrop:false,
    keyboard:false
});
$.ajax({
    type: "GET",
    url: "/order/getPdts",
    cache:false
}).done(function(data, textStatus){
            var h = "";
            for(var e in data.data){
                h +="<option value="+data.data[e]._id+" data-std="+data.data[e].startDate+" data-edd="+data.data[e].endDate+" data-pid="+data.data[e].ent+">"+data.data[e].name+"</option>";
            }
            $("#selectPdts").html(h);

            $("#ldModal").modal("hide");
        }).fail(function(){
            $("#ldModal").modal("hide");
            alert("网络异常，请重试！");
        });

$("#oiPName").select2({
    placeholder: "请选择产品",
    allowClear: true,
    formatSelection: formatSelect2
});

//onselect product
function formatSelect2(e){
    $("#ldModal").modal({
        backdrop:false,
        keyboard:false
    });
    var d = $(e.element);
    selectedPdt = e.id;
    selectPdtEnt = d.data('pid');
    var st = new Date(d.data('std')).format("yyyy-MM-dd");
    var ed = new Date(d.data('edd')).format("yyyy-MM-dd");
    selectSD = st;
    selectED = ed;
    $("#priceCal").fullCalendar('refetchEvents');
    $("#showDate").html(st+"至"+ed);
    $("#ldModal").modal('hide');
    return e.text;
}

//init calendar
$("#priceCal").fullCalendar({
    aspectRatio:3,
    header: {
        left: 'prev,next today',
        center: 'title',
        right:''
    },

    monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
    monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
    dayNames: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
    dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
    today: ["今天"],
    firstDay: 1,
    buttonText: {
        today: '本月',
        month: '月',
        week: '周',
        day: '日',
        prev: '上一月',
        next: '下一月'
    },
    editable: false,
    droppable: false,
    allDay:true,
//        dayClick: function (date, allDay, jsEvent, view) {
//        },
    eventRender: function(event, element) {
        element.find('.fc-event-title').append("<br/><span class='ultra-light'>" + event.description +
                "</span>").css("cursor","pointer");
    },
    eventClick: function(calEvent, jsEvent, view) {
        var qty = 0;
        var singlePrice = 0;
        var titles = calEvent.title.split("/");
        var descs = calEvent.description.split("/");
        for(var i  in titles){
            if(titles[i]==="价格"){
                singlePrice = descs[i];
            }else if(titles[i]==="库存"){
                qty = descs[i];
            }
        }
        if(qty == 0){
            alert("这一天没有库存无法预订！");
        }else{
            clearOrderModal();
            $("#oiPriceId").val(calEvent.id);
            $("#oiSP").val(singlePrice);
            var  pName = $("#oiPName").select2("data");
            $("#oiName").html(pName.text);
            $("#oiDate").html(calEvent.start.format("yyyy-MM-dd"));
            $("#oiPrice").html(singlePrice);
            $("#oiQty").spinner("option","min",1);
            $("#oiQty").spinner("option","max",qty);
            $("#oiTotal").html(singlePrice);
            htmlCustomers(1);
            $("#oiModal").modal();
        }
    },
    events: function(start, end, callback) {
        if(selectedPdt&&selectedPdt.trim()!==""){
            var params = {};
            params.product = selectedPdt;
            params.startDate = selectSD;
            params.endDate = selectED;
            $.ajax({
                type: "POST",
                url: "/order/getPdtDetail",
                cache:false,
                data:params
            }).done(function(data, textStatus){
                        if(data.error!=0){
                            showMessage("danger","获取数据失败！"+data.errorMsg);
                        }else{
                            $("#pIntr").html(data.pdt.introduction);
                            $("#pCont").html(data.pdt.content);
                            $("#pMap").html(data.pdt.gps);
                            $("#pdtDetail").show();
                            callback(data.data);
                        }
                    }).fail(function(){
                        alert("网络异常，请重试！");
                    });
        }
    },
    windowResize: function (event, ui) {
        $('#priceCal').fullCalendar('render');
    }
});

//modal init
$("#oiQty").spinner({
    numberFormat: "n",
    stop : function(event,ui){
//        htmlCustomers($("#oiQty").val());
        $("#oiTotal").html($("#oiSP").val()*$("#oiQty").val());
    }
});

function clearOrderModal(){
    $("#oiPriceId").val("");
    $("#oiSP").val("");
    $("#oiName").html("");
    $("#oiDate").html("");
    $("#oiPrice").html("");
    $("#oiQty").val("1");
    $("#oiCus").html("");
    $("#oiRemark").val("");
    $("#oiTotal").html("");
}

function htmlCustomers(number){
    var html = "";
    for(var i=0;i<number;i++){
        html +="<section><div class=\"row\"><label class=\"label col col-2\">使用人</label>";
        html +="<div class=\"col col-4\"><label class=\"input\"><input type=\"text\" name=\"oiCusName\" placeholder='使用人姓名'></label></div>";
        html +="<label class=\"label col col-2\">手机号</label>";
        html +="<div class=\"col col-4\"><label class=\"input\"><input type=\"text\" name=\"oiCusPhone\" placeholder='使用人手机号'></label></div></div></section>";
    }
    $("#oiCus").html(html);
}

//modal submit order
$("#btnOrder").click(function(e){
    e.preventDefault();
    if(""===selectedPdt.trim()||""===selectPdtEnt.trim()||""===$("#oiPriceId").val()||""===selectSD.trim()){
        alert("所需产品信息失效，请重新选择！");
        return false;
    }
//    if($("input[name=oiCusName]").length!=$("input[name=oiCusPhone]").length||$("input[name=oiCusPhone]").length!=parseInt($("#oiQty").val())){
//        alert("预订的产品数量需要和使用人数一致！");
//        return false;
//    }
    var cusNames = [];
    var isNull = false;
    $("input[name=oiCusName]").each(function(){
        if(""===$(this).val().trim()){
            isNull = true;
            return false;
        }else{
            cusNames.push($(this).val().trim());
        }
    });
    if(isNull){
        alert("请要输入使用人姓名！");
        return false;
    }
    var cusPhones = [];
    $("input[name=oiCusPhone]").each(function(){
        if(""===$(this).val().trim()){
            isNull = true;
            return false;
        }else{
            if(isNaN($(this).val().trim())||$(this).val().trim().length<11){
                isNull = true;
                return false;
            }
            cusPhones.push($(this).val().trim());
        }
    });
    if(isNull){
        alert("请输入使用人正确的手机号！");
        return false;
    }
    var params = {};
    params.startDate = selectSD.trim();
    params.quantity = parseInt($("#oiQty").val());
    params.remark = $("#oiRemark").val();
    params.product = selectedPdt.trim();
    params.ent  = selectPdtEnt.trim();
    params.liveName = cusNames;
    params.contactPhone = cusPhones;
    params.price = $("#oiPriceId").val();
    $.ajax({
        type: "POST",
        url: "/order/add",
        cache:false,
        data:params
    }).done(function(data, textStatus){
                if(data.error!=0){
                    showMessage("danger","预订失败！"+data.errorMsg);
                }else{
                    $("#priceCal").fullCalendar('refetchEvents');
                    showMessage("success","预订成功！"+data.errorMsg);
                }
                $("#oiModal").modal('hide');
            }).fail(function(){
                alert("网络异常，请重试！");
            });
});
</script>