<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-money"></i> 价格库存管理 <span>>价格库存维护</span></h1>
    </div>
</div>

<div class="row" id="pilRow">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" id="tblEnt" data-widget-custombutton="true">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
            <header>
                <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                <h2>价格库存维护</h2>
            </header>

            <!-- widget div-->
            <div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body">
                    <div class="row">
                        <form id="pilSrhForm" class="smart-form">
                            <fieldset>
                                <section>
                                    <div class="row">
                                        <label class="label col col-2">产品名称</label>
                                        <div class="col col-8">
                                            <select style="width:100%;"  name="piiPName" id="piiPName" placeholder="必填">
                                                <optgroup label="产品列表" id="selectPdts">

                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </section>
                                <section id="exTime">
                                    <div class="row">
                                        <label class="label col col-2">有效期</label>
                                        <div class="col col-4">
                                            <div class="input-group">
                                                <input type="text" name="piiStDate" id="piiStDate" placeholder="选择开始时间" class="form-control datepicker" data-dateformat="yy-mm-dd">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="col col-4">
                                            <div class="input-group">
                                                <input type="text" name="piiEndDate" id="piiEndDate" placeholder="选择结束时间" class="form-control datepicker" data-dateformat="yy-mm-dd">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="col col-2">
                                            <button type="button" class="btn btn-primary btn-lg" id="btnPiSearch">
                                                搜索
                                            </button>
                                        </div>
                                    </div>
                                </section>
                            </fieldset>
                        </form>
                    </div>
                    <div class="row" id="pil0"><div id="myCal"></div></div>
                    <div class="row" id="pil3">
                        <form id="pilForm" class="smart-form">
                            <fieldset>
                                <div id="pil3Specs"></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
    </div>
</div>
<script src="js/page/pi_list.js"/>
<script type="text/javascript">
///////////////////////LOADING////////////////////////////
    $("#ldModal").modal({
        backdrop:false,
        keyboard:false
    });
    ///init var
    var selectedPdt = "";
    var selectPdtType = "";
    //init show and hide
    $("#pil0").hide();
    $("#pil3").hide();
    $("#exTime").hide();
    //get products
    $.ajax({
        type: "GET",
        url: "/pi/getPdts",
        cache:false
    }).done(function(data, textStatus){
                var h = "";
                for(var e in data.data){
                    h +="<option value="+data.data[e]._id+" data-std="+data.data[e].startDate+" data-edd="+data.data[e].endDate+" data-type="+data.data[e].productType+">"+data.data[e].name+"</option>";
                }
                $("#selectPdts").html(h);

                $("#ldModal").modal("hide");
            }).fail(function(){
                $("#ldModal").modal("hide");
                alert("网络异常，请重试！");
            });
///////////////////////////////////////INIT PULGIN//////////////////////////////////////////
    //init select2
    $("#piiPName").select2({
        placeholder: "请选择产品",
        allowClear: true,
        formatSelection: formatSelect2
    });

    //init date
    $("#piiStDate").datepicker({
        defaultDate: "+0d",
        changeMonth: false,
        changeYear: false,
        numberOfMonths: 1,
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        onClose: function (selectedDate) {
            var arrays = selectedDate.split('-');
            var mDate = new Date(arrays[0],(arrays[1]-1),arrays[2]);
//            mDate.setDate(mDate.getDate()+1);
            $("#piiEndDate").datepicker("option", "minDate", mDate);
        }

    });
    $("#piiStDate").datepicker('setDate',"+0d");
    $("#piiEndDate").datepicker({
        defaultDate: "+0d",
        changeMonth: false,
        changeYear: false,
        numberOfMonths:1,
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>'
    });
    $("#piiEndDate").datepicker('setDate',"+0d");
////////////////////////////////////////INIT EVENT///////////////////////////////////////////
    //select time refetch cal click event
    $("#btnPiSearch").unbind("click").click(function(e){
        e.preventDefault();
        if(!selectedPdt||selectedPdt.trim()===""){
            alert("请选择需要录入价格库存的产品！");
            return false;
        }
        if($("#piiStDate").val()===""){
            alert("请选择开始时间！");
            return false;
        }
        if($("#piiEndDate").val()===""){
            alert("请选择结束时间！");
            return false;
        }
        $("#myCal").fullCalendar('refetchEvents');
    });

    //modal update click event
    $("#btnPiuUpdate").unbind("click").click(function(e){
        e.preventDefault();
        if(""===$("#piuBasePrice").val().trim()){
            alert("成本价不能为空！");
            return false;
        }
        if(""!==$("#piuBasePrice").val().trim()&&isNaN($("#piuBasePrice").val().trim())){
            alert("请填写正确的成本价！");
            return false;
        }
        if(""===$("#piuTradePrice").val().trim()){
            alert("结算价不能为空！");
            return false;
        }
        if(""!==$("#piuTradePrice").val().trim()&&isNaN($("#piuTradePrice").val().trim())){
            alert("请填写正确的结算价！");
            return false;
        }
        if(""===$("#piuPrice").val().trim()){
            alert("卖价不能为空！");
            return false;
        }
        if(""!==$("#piuPrice").val().trim()&&isNaN($("#piuPrice").val().trim())){
            alert("请填写正确的卖价！");
            return false;
        }
        if(""===$("#piuInventory").val().trim()){
            alert("库存不能为空！");
            return false;
        }
        if(""!==$("#piuInventory").val().trim()&&isNaN($("#piuInventory").val().trim())){
            alert("请填写正确的库存数！");
            return false;
        }
        var params = {};
        if(""!==$("#piuBasePrice").val().trim()){
            params.basePrice = $("#piuBasePrice").val();
        }
        if(""!==$("#piuTradePrice").val().trim()){
            params.tradePrice = $("#piuTradePrice").val();
        }
        if(""!==$("#piuPrice").val().trim()){
            params.price = $("#piuPrice").val();
        }
        if(""!==$("#piuInventory").val().trim()){
            params.inventory = $("#piuInventory").val();
        }
        $("#btnPiuUpdate").button("loading");
        $.ajax({
            type: "POST",
            url: "/pi/update/"+$("#piuId").val(),
            cache:false,
            data:params
        }).done(function(data, textStatus){
            if(data.error!=0){
                showMessage("danger","修改价格失败！"+data.errorMsg);
            }else{
                $("#myCal").fullCalendar('refetchEvents');
                showMessage("success","修改价格成功！");
            }
            $("#btnPiuUpdate").button("reset");
            $("#piModal").modal('hide');
        }).fail(function(){
            $("#btnPiuUpdate").button("reset");
            alert("网络异常，请重试！");
        });
    });
</script>