<link href="css/ueditor/themes/default/ueditor.min.css">
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-bar-chart-o"></i> 产品管理 <span>>产品列表</span></h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" id="tblPdt" data-widget-custombutton="true">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>产品列表</h2>
                <button type="button" class="btn btn-labeled btn-default pull-right" id="btnAddPdt">
                     <span class="btn-label">
                      <i class="glyphicon glyphicon-plus"></i>
                     </span>产品录入
                </button>
            </header>

            <!-- widget div-->
            <div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="widget-body no-padding">
                    <div class="widget-body-toolbar">
                        <div class="col-xs-6">
                            <label class="input"> 产品名称：
                                <input type="text" id="pName" name="pName" placeholder="默认全部">
                            </label>
                            <button type="button" class="btn btn-labeled btn-default btn-sm" id="btnSearch">
                                 <span class="btn-label">
                                  <i class="glyphicon glyphicon-search"></i>
                                 </span>搜索
                            </button>
                        </div>
                    </div>
                    <table id="dtPdt" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>产品名称</th>
                            <th>产品简介</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>周末定义</th>
                            <th>是否启用</th>
                            <th>创建时间</th>
                            <th>操　　作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
    </div>
</div>
<script src="js/ajaxfileupload.js"></script>
<script src="js/ueditor/ueditor.config.js"></script>
<script src="js/ueditor/ueditor.all.min.js"></script>
<script src="js/page/product.js"></script>
<script type="text/javascript">
    ///init loadding modal
    $("#ldModal").modal({
        backdrop:false,
        keyboard:false
    });

    //init select data
    $.ajax({
        type: "GET",
        url: "/product/resList",
        cache:false
    }).done(function(data, textStatus){
                var h = "";
                for(var e in data.data){
                    h +="<option value="+data.data[e]._id+">"+data.data[e].name+"</option>";
                }
                $("#selectPdtRl").html(h);
                $("#ldModal").modal("hide");
            }).fail(function(){
                $("#ldModal").modal("hide");
                alert("网络异常，请重试！");
            });

    //init var
    var saveType = 0; //for create or update ent
    var images = [];
    var tempwk = [];

//////////////////////plugin init//////////////////////////
    // time picker init
    $("#pdtSdTp").timepicker({showMeridian:false,minuteStep:60}).zIndex(9999);
    $("#pdtEdTp").timepicker({showMeridian:false,minuteStep:60}).zIndex(9999);
    $("#pdtEdTp").timepicker().on("changeTime.timepicker",function(e){
//        console.log( $("#pdtSdTp"),e.time.hours,typeof(e.time.hours));
    });
    //date picker init
    $("#pdtStDate").datepicker({
        defaultDate: "+0d",
        changeMonth: false,
        changeYear: false,
        numberOfMonths: 1,
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        onClose: function (selectedDate) {
            var arrays = selectedDate.split('-');
            var mDate = new Date(arrays[0],(arrays[1]-1),arrays[2]);
//            mDate.setDate(mDate.getDate()+1);
            $("#pdtEndDate").datepicker("option", "minDate", mDate);
        }
    }).zIndex(9999);
    $("#pdtStDate").datepicker('setDate',"+0d");
    $("#pdtEndDate").datepicker({
        defaultDate: "+0d",
        changeMonth: false,
        changeYear: false,
        numberOfMonths:1,
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>'
    }).zIndex(9999);
    $("#pdtEndDate").datepicker('setDate',"+0d");

    //init select2 pdt res list
    $("#pdtRl").select2({
        placeholder: "请选择产品",
        allowClear: true,
        formatSelection: formatSelect2
    });

    //init ueditor
    var ue = UE.getEditor('pdtContent');

    //init table object
    var table = $('#dtPdt').dataTable({
        "bPaginite":true,
        "sPaginationType" : "bootstrap",
        "bFilter":false,
        "bSort" : false,// 排序
        "bLengthChange" : false,// 每行显示记录数
        "iDisplayLength" : 25,// 每页显示行数
        "bDestroy" : true,
        "bServerSide" : true,
        "sServerMethod": "POST",
        "sAjaxSource": "",
        "aoColumns":[
            {mData:"name"},
            {mData:"introduction"},
            {mData:"startDate"},
            {mData:"endDate"},
            {mData:"weekend"},
            {mData:"isEnable"},
            {mData:"createTime"},
            {mData:"_id",
                mRender:function(data,type,full){
                    return "<button id='btnEdit_"+data+"' onclick='editPdt(\""+data+"\");' class='btn btn-primary btn-xs' data-loading-text='加载中...请稍候'>编辑</button>";
                }}
        ],
        "oLanguage": {
            "sProcessing" : "正在加载数据...",
            "sZeroRecords" : "没有符合条件的信息",
            "sLengthMenu" : "每页显示_MENU_条 ",
            "sInfo" : "当前数据从_START_ 到 _END_ 条记录——总记录数为 _TOTAL_ 条",
            "sInfoEmpty" : "没有符合条件的信息",
            "sInfoFiltered" : ""
        },
        fnServerData:refreshData
    });


////////////////////////////INIT EVENT////////////////////////////
    //list search click event
    $("#btnSearch").click(function(){
        table.fnDraw();
    });

    //add pdt click event
    $("#btnAddPdt").click(function(){
        saveType = "add";
        $("#btnPdtSave").html("保存");
        clearPdtModal();
        $("#pdtModal").modal();
    });

    //type change event
    $("#pdtType").change(function(){
        changeTypeEvent($(this).val());
    });

    //upload image click event
    $("#btnUpload").click(function(){
        if(""===$("#pdtImage").val()){
            alert("请选择需要上传的图片！");
        }else{
            ajaxFileUpload();
        }
    });

    //create and update pdt click event
    $("#btnPdtSave").click(function(e){
        //todo console.log($("#pdtRl").val());
        e.preventDefault();
        if(""===$("#pdtName").val().trim()){
            alert("产品名称为必填字段");
            return false;
        }
        if(""===$("#pdtIntr").val().trim()){
            alert("产品简介为必填字段");
            return false;
        }
//        if(""===$("#pdtLat").val().trim()){
//            alert("纬度为必填字段");
//            return false;
//        }
//        if(""===$("#pdtLon").val().trim()){
//            alert("经度为必填字段");
//            return false;
//        }
        if(""===ue.hasContents()){
            alert("产品内容为必填字段");
            return false;
        }
        if(0==$("#pdtType").val()){
            if(""===$("#pdtStDate").val().trim()){
                alert("开始有效期为必填字段");
                return false;
            }
            if(""===$("#pdtEndDate").val().trim()){
                alert("结束有效期为必填字段");
                return false;
            }
        }else if(1==$("#pdtType").val()){
            if(""===$("#pdtSdTp").val().trim()){
                alert("开始有效时间点为必填字段");
                return false;
            }
            if(""===$("#pdtEdTp").val().trim()){
                alert("结束有效时间点为必填字段");
                return false;
            }
        }
        tempwk = [];
        $("[name=weekend]:checked").each(function(){
            tempwk.push($(this).val());
        });
        if(tempwk.length<=0){
            alert("周末定义为必填字段");
            return false;
        }
        var params = {};
        params.type = $("#pdtType").val();
        params.name = $("#pdtName").val().trim();
        params.introduction = $("#pdtIntr").val().trim();
        params.lat = $("#pdtLat").val().trim();
        params.lon = $("#pdtLon").val().trim();
        params.content =ue.getContent();
        if(0==params.type){
            params.startDate = $("#pdtStDate").val();
            params.endDate = $("#pdtEndDate").val();
            params.subPdts = $("#pdtRl").val();
        }else if(1==params.type){
            params.start = $("#pdtSdTp").val();
            params.end = $("#pdtEdTp").val();
        }
        params.weekend = tempwk;
        if(images.length>0){
            var tmp = [];
            for(var i in images){
                if(undefined!=images[i]){
                    tmp.push(images[i]);
                }
            }
            params.images = tmp;
        }else{
            params.images = [];
        }
        $.ajax({
            type: "POST",
            url: "/product/"+saveType,
            cache:false,
            data:params
        }).done(function(data, textStatus){
                    if(data.error==0){
                        showMessage("success","产品名："+$("#pdtName").val().trim()+"保存成功了！");
                        $("#pdtModal").modal("hide");
                        table.fnDraw();
                    }else{
                        showMessage("danger","产品名："+$("#pdtName").val().trim()+"保存失败！"+data.errorMsg);
                        $("#pdtModal").modal("hide");
                    }
                }).fail(function(){
                    alert("网络异常，请重试！");
                });
    });
</script>