<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form>
        URL:<input type="text" id="url">
        <input type="button" value="提交">
    </form>
</body>
</html>