<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-comments"></i> 微信管理 <span>>配置信息</span></h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" data-widget-custombutton="true">
            <header>
                <span class="widget-icon"> <i class="fa fa-check"></i> </span>
                <h2>企业微信功能</h2>
            </header>
            <!-- widget div-->
            <div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="modal-body no-padding">
                    <form id="openWX" class="smart-form">
                        <fieldset>
                            <section>
                                <div class="row">
                                    <div class="col col-1">
                                        <h6>是否启用</h6>
                                    </div>
                                    <div class="col col-11">
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox" id="isOpen" name="isOpen">
                                            <i></i>
                                        </label>
                                    </div>
                                </div>
                            </section>
                        </fieldset>
                    </form>
                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->
        </div>
    </div>
</div>

<div class="row" id="wxcfg">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-blueDark" data-widget-custombutton="true">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon"> <i class="fa fa-wrench"></i> </span>
        <h2>微信账号配置</h2>
    </header>

    <!-- widget div-->
    <div>
    <!-- end widget edit box -->

    <!-- widget content -->
        <div class="modal-body no-padding">
            <form id="wxcfgForm" class="smart-form">
                <fieldset>
                    <section>
                        <div class="row">
                            <label class="label col col-3">appID(应用ID)</label>
                            <div class="col col-8">
                                <label class="input">
                                    <input type="text" name="wxAppId" id="wxAppId" placeholder="必填">
                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">appsecret(应用密钥)</label>
                            <div class="col col-8">
                                <label class="input">
                                    <input type="text" name="wxAppsecret" id="wxAppsecret" placeholder="必填">
                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">Token(令牌)</label>
                            <div class="col col-8">
                                <label class="input">
                                    <input type="text" name="wxToken" id="wxToken" placeholder="必填">
                                </label>
                            </div>
                        </div>
                    </section>

                    <section id="notifyUrl">
                        <div class="row">
                            <label class="label col col-3">URL(服务器地址)</label>
                            <div class="label col col-8">
                                <label id="wxUrl"><%=data.url%></label>
                            </div>
                        </div>
                    </section>
                    <section id="warnUrl">
                        <div class="row">
                            <label class="label col col-3">WARN_URL(告警通知地址)</label>
                            <div class="label col col-8">
                                <label id="wxWrnUrl"><%=data.warnUrl%></label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-12"><h3>微支付配置</h3></label>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">partnerId(微信支付商户号)</label>
                            <div class="col col-8">
                                <label class="input">
                                    <input type="text" name="wxPartnerId" id="wxPartnerId">
                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">partnerKey(商户权限密钥Key)</label>
                            <div class="col col-8">
                                <label class="input">
                                    <input type="text" name="wxPartnerKey" id="wxPartnerKey">
                                </label>
                            </div>
                        </div>
                    </section>

                    <section id="payDir">
                        <div class="row">
                            <label class="label col col-3">支付授权目录</label>
                            <div class="label col col-8">
                                <label class="input" id="wxPayUrl"><%=data.payDir%></label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">OAuth2.0网页授权</label>
                            <div class="label col col-8">
                                <label class="input"><%=data.oauthUrl%></label>
                            </div>
                        </div>
                    </section>

                </fieldset>
                <footer>
                    <button type="button" class="btn btn-primary" id="btnConfig">
                        保存配置
                    </button>
                </footer>
            </form>
        </div>
    <!-- end widget content -->

    </div>
    <!-- end widget div -->


    </div>
    </div>
</div>

<script src="/js/page/weixin_config.js"></script>
<script type="text/javascript">

    var mToken = "";
///////////////////////////INIT PLUGIN////////////////////////////////////
    $("#wxcfg").hide();
    clearForm();
///////////////////////////////LOADING////////////////////////////////
    $("#ldModal").modal({
        backdrop:false,
        keyboard:false
    });
    //get weixin config
    $.ajax({
        type: "GET",
        url: "/wx/getWxCfg",
        cache:false
    }).done(function(data, textStatus){
       if(data.error==0){
           if(data.data){
               $("#isOpen")[0].checked = true;
               $("#wxcfg").show();
               $("#wxAppId").val(data.data.appID);
               $("#wxAppsecret").val(data.data.appsecret);
               $("#wxToken").val(data.data.token);
               $("#wxPartnerId").val(data.data.partnerId);
               $("#wxPartnerKey").val(data.data.partnerKey);
               $("#wxPaySignKey").val(data.data.paySignKey);
               mToken = data.data.memberToken;
           }
       }else{
           alert(data.errorMsg);
       }
       $("#ldModal").modal("hide");
    }).fail(function(){
        $("#ldModal").modal("hide");
        alert("网络异常，请重试！");
    });
////////////////////////////INIT EVENT////////////////////////////////////

//企业是否启用click event
$("#isOpen").unbind("click").click(function(){
    if(this.checked){
        $("#wxcfg").show();
    }else{
        $("#wxcfg").hide();
    }
});

//weixin account config save click event
$("#btnConfig").unbind("click").click(function(){
    if(""===$("#wxAppId").val().trim()){
        alert("微信的appID(应用ID)不能为空！");
        return false;
    }
    if(""===$("#wxAppsecret").val().trim()){
        alert("微信的appsecret(应用密钥)不能为空！");
        return false;
    }
    if(""===$("#wxToken").val().trim()){
        alert("微信的Token(令牌)不能为空！");
        return false;
    }
//    if(""===$("#wxPartnerId").val().trim()){
//        alert("微信的partnerId(商户身份标识)不能为空！");
//        return false;
//    }
//    if(""===$("#wxPartnerKey").val().trim()){
//        alert("微信的partnerKey(商户权限密钥Key)不能为空！");
//        return false;
//    }
    var params = {};
    params.appId = $("#wxAppId").val().trim();
    params.appsecret = $("#wxAppsecret").val().trim();
    params.token = $("#wxToken").val().trim();
    if(""!==$("#wxPartnerId").val().trim()){
        params.partnerId = $("#wxPartnerId").val().trim();
    }
    if(""!==$("#wxPartnerKey").val().trim()){
        params.partnerKey = $("#wxPartnerKey").val().trim();
    }
    params.mToken = mToken;

    $("#ldModal").modal({
        backdrop:false,
        keyboard:false
    });
    $.ajax({
        type: "POST",
        url: "/wx/saveCfg",
        cache:false,
        data:params
    }).done(function(data, textStatus){
        if(data.error==0){
            mToken = data.memberToken;
            showMessage("success","配置保存成功了！");
            alert("配置保存成功了！");
        }else{
            showMessage("danger","配置保存失败！"+data.errorMsg);
            alert("配置保存失败！"+data.errorMsg);
        }
        $("#ldModal").modal("hide");
    }).fail(function(){
        $("#ldModal").modal("hide");
        alert("网络异常，请重试！");
    });
});
</script>