<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title> 支付完成 </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%include header%>
</head>
<body class="">
<!-- POSSIBLE CLASSES: minified, fixed-ribbon, fixed-header, fixed-width
     You can also add different skin classes such as "smart-skin-1", "smart-skin-2" etc...-->

<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="container errorBox">
            <h2><%=data.oid%></h2>
            <h4>已经完成支付了!可以关闭此页面</h4>
        </div>

    </div>
    <!-- END MAIN CONTENT -->
</div>
</div>
</body>
<%include footer%>
<script type="text/javascript">
</script>
</html>